input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.05px 0;
  background-color: transparent;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: #4c4c47;
  border: 0;
  border-radius: 8.2px;
  width: 100%;
  height: 15.9px;
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: -3.05px;
  width: 24px;
  height: 22px;
  background: rgba(193, 73, 83, 0.93);
  border: 0;
  border-radius: 39px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #696962;
}
input[type=range].slider::-moz-range-track {
  background: #4c4c47;
  border: 0;
  border-radius: 8.2px;
  width: 100%;
  height: 15.9px;
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: 24px;
  height: 22px;
  background: rgba(193, 73, 83, 0.93);
  border: 0;
  border-radius: 39px;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 3.05px 0;
  color: transparent;
  width: 100%;
  height: 15.9px;
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #2f2f2c;
  border: 0;
  border-radius: 16.4px;
}
input[type=range].slider::-ms-fill-upper {
  background: #4c4c47;
  border: 0;
  border-radius: 16.4px;
}
input[type=range].slider::-ms-thumb {
  width: 24px;
  height: 22px;
  background: rgba(193, 73, 83, 0.93);
  border: 0;
  border-radius: 39px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #4c4c47;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #696962;
}